!!!
%html(lang="en" data-framework="hyalite")
  %head
    %meta(charset="utf-8")
    %title forget-me-not
    %link{rel:"stylesheet", href:"css/application.css"}

  %body
    %header
      .navbar
        .navbar-inner
          .container-narrow
            %img{src: 'images/forget-me-not.png'}
            %img.icon{src: 'images/youchan_square.jpg'}
      %nav.container-narrow
        %ul
          %li.selected
            %a{href:"#todoTab"} ToDo
          %li
            %a{href:"#calendarTab"} Calendar
      %br.clears
    %section
      .container-narrow
        .tab-content
          #todo-tab

    = javascript_include_tag 'application'
