!!!
%html(lang="en" data-framework="hyalite")
  %head
    %meta(charset="utf-8")
    %title forget-me-not
    %link{rel:"stylesheet", href:"css/application.css"}

  %body
    %header
      .navbar
        .navbar-inner
          %img.logo{src: 'images/forget-me-not.png'}
          %img.icon{src: 'images/youchan_square.jpg'}
    %section
      .container-narrow
        #todo-tab

    = ::Opal::Sprockets.javascript_include_tag('application', sprockets: settings.opal.sprockets, prefix: 'assets', debug: true)
