body {
  margin: 0;
  overflow: hidden;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }

.selectable {
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
}

.selectable li { margin: 3px; padding: 4px; font-size: 1.2em; border-radius: 5px; }

.schedule {
  float: left;
  position: relative;
  height: 100%;
  width: 30%;
}

.date-control {
  height: 1rem;
  padding: 1rem 0;
  margin: 4px 0;
}

.date-control p {
  margin: 0;
  float: left;
}

.schedule-inner {
  height: calc(100vh - 76px - 3rem);
  overflow-y: scroll;
  clear: both;
}

.schedule-inner::-webkit-scrollbar {
  display: none;
}

.time-box {
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  height: 40px;
  border: solid 1px #eee;
  background-color: #f0faff;
  z-index: 1;
}

.time-box.confirm {
  background-color: #fafaf0;
}

.time-box.pomodoro-1 {
  height: 38px;
}

.time-box.pomodoro-2 {
  height: 78px;
}

.time-box.pomodoro-3 {
  height: 118px;
}

.time-box.pomodoro-4 {
  height: 158px;
}

.time-box.pomodoro-5 {
  height: 198px;
}

.time-box.pomodoro-6 {
  height: 238px;
}

.time-box.pomodoro-7 {
  height: 278px;
}

.time-box.pomodoro-8 {
  height: 318px;
}

.line-time-current {
  position: absolute;
  top: -1px;
  left: 60px;
  right: 0;
  border-top: solid 3px #eaa;
  z-index: 2;
}

.entries {
  position: absolute;
  height: calc(100vh - 76px - 3rem);
  width: 50%;
}

.acc-content {
  overflow-y: scroll;
  height: inherit;
}

.acc-content::-webkit-scrollbar {
  display: none;
}

.koma {
  height: 40px;
  position: relative;
}

.koma.odd {
  border-bottom: solid 1px #aaa;
}

.koma p {
  margin: 0;
}

.koma.odd p {
  position: relative;
  top: -0.5em;
  margin-left: 2ch;
}

.clears { clear: both; }

.navbar-inner {
  padding: 0 20px;
  background-color: #97D5D9;
  margin-bottom: 8px;
  min-height: 58px;
}

.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar img.icon {
  float: right;
  padding: 10px;
  width: 40px;
  border-radius: 40px;
}

.navbar img.logo {
  float: left;
  padding: 10px;
  height: 38px;
}

.navbar .title {
  padding: 12px;
  font-size: 180%;
  margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    float: left;
    background: #aaa;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

nav li a {
    padding: 0 10px;
    color: #444;
    text-decoration: none;
}

nav li.selected {
    padding-bottom: 1px;
    background: #8af;
}

nav li.selected a {
    color: #fff;
}

.todo-view {
    float: left;
    width: 70%;
}

.todo-view .todo-input {
  height: 3rem;
  margin: 4px 0;
}

.todo-view img.pomodoro {
  width: 1em;
}

.todo-view img.edit {
  width: 1em;
}

.todo-view img.reorder {
  width: 1em;
}

.todo-view span.pomodoro {
  position: absolute;
  right: 2rem;
  margin-left: 0.3em;
}

.todo-view span.edit-todo {
  margin-left: 0.3em;
}

.todo-view span.reorder-todo {
  margin-left: 0.3em;
}

.todo-view input.new-todo {
  font-size: 32px;
  width: 80%;
  border: none;
  border-bottom: solid 1px #a8a8a8;
  outline: none;
  margin-left: 12px;
}

.description {
  border: solid 1px #a8a8a8;
  border-radius: 3px;
  height: 4rem;
  padding: 8px;
}

.description.done {
  color: #ddd;
  text-decoration: line-through;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

.context-menu {
  border: solid 1px #d8d8d8;
  padding: 8px;
  background-color: #ffffff;
  width: 100px;
  filter: drop-shadow(1px 2px 3px #a8a8a8);
}

.modal.visible {
  display: block;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 0 8px;
}

.context-menu li:hover {
  background-color: #ffe;
}

.context-menu img.pomodoro {
  width: 1em;
}
