body {
  margin: 0;
  background-color: #ffe;
  overflow: hidden;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }

.selectable {
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
}

.selectable li { margin: 3px; padding: 4px; font-size: 1.2em; border-radius: 5px; }

.schedule {
  float: left;
  position: relative;
  height: 100%;
  width: 50%;
}

.date-control {
}

.date-control p {
  margin: 0;
  float: left;
}

.schedule-inner {
  border: solid 1px #aaa;
  height: calc(100% - 24px);
  overflow-y: scroll;
  clear: both;
}

.time-box {
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  height: 40px;
  border: solid 1px #eee;
  background-color: #f0faff;
  z-index: 1;
}

.time-box.pomodoro-1 {
  height: 38px;
}

.time-box.pomodoro-2 {
  height: 78px;
}

.time-box.pomodoro-3 {
  height: 118px;
}

.time-box.pomodoro-4 {
  height: 158px;
}

.time-box.pomodoro-5 {
  height: 198px;
}

.time-box.pomodoro-6 {
  height: 238px;
}

.time-box.pomodoro-7 {
  height: 278px;
}

.time-box.pomodoro-8 {
  height: 318px;
}

.koma {
  height: 40px;
  position: relative;
}

.koma.odd {
  border-bottom: solid 1px #aaa;
}

.koma p {
  margin: 0;
}

.koma.odd p {
  position: relative;
  top: -0.5em;
  margin-left: 2ch;
}

.clears { clear: both; }

.navbar-inner {
  padding: 0 20px;
  background-color: #9cf;
  margin-bottom: 8px;
  min-height: 80px;
}

.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar img.icon {
  float: right;
  padding: 10px;
  margin-top: 10px;
  width: 40px;
  border-radius: 40px;
}

.navbar img.logo {
  float: left;
  padding: 10px;
  height: 64px;
}

.navbar .title {
  padding: 12px;
  font-size: 180%;
  margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    float: left;
    background: #aaa;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

nav li a {
    padding: 0 10px;
    color: #444;
    text-decoration: none;
}

nav li.selected {
    padding-bottom: 1px;
    background: #8af;
}

nav li.selected a {
    color: #fff;
}

.tab-content {
  border: 1px solid #8af;
  padding: 8px;
  background-color: #fff;
}

#todo-tab {
  position: relative;
  height: calc(100vh - 162px);
}

#todo-tab>div {
  height: 100%;
}

.todo-view {
    float: left;
    width: 50%;
}

.todo-view img.pomodoro {
  width: 1em;
}

.todo-view span.pomodoro {
  margin-left: 1em;
}

.todo-view input.new-todo {
  font-size: 32px;
  width: 80%;
  border: none;
  border-bottom: solid 1px #888;
  outline: none;
  margin-left: 12px;
}

.context-menu {
  position: fixed;
  display: none;
  border: solid 1px #ddd;
  background-color: #fff;
}

.context-menu.visible {
  display: block;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 0 8px;
}

.context-menu li:hover {
  background-color: #ffe;
}
